@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
:root {
	--dark-light: #dddddd;
	--dark-darkest: #1c1c1c;
	--dark-dark: #3a3a3a;
	--dark-font: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--dark-dark);
	font-size: 15px;
	font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	line-height: 1.4;
}

body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: #0e0e0e;
}
body::-webkit-scrollbar-track {
	background-color: var(--dark-dark);
}

ul {
	list-style-type: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--dark-darkest);
	padding: 30px 50px;
	color: var(--dark-font);
	align-items: center;
}

.navbar nav ul {
	display: flex;
	align-items: flex-start;
}

.navbar nav ul a,
.search-btn {
	background-color: var(--dark-dark);
	width: 40px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.search-btn:hover {
	background-color: var(--dark-darkest);
}
.navbar-search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}
.navbar nav ul a {
	margin-left: 10px;
}
.navbar-search button {
	border-radius: 0 5px 5px 0;
}
.navbar-search input {
	border-radius: 5px 0 0 5px;
	color: #fff;
	width: 200px;
	transition: 0.3s;
	background-color: var(--dark-dark);
}
.navbar-search input:focus {
	width: 250px;
	transition: 0.3s;
}
a {
	color: var(--dark-font);
	text-decoration: none;
}

.top-section {
	background-color: var(--dark-darkest);
	padding: 50px 40px 100px 40px;
	display: flex;
}

.profilia-logo {
	text-transform: uppercase;
	font-family: 'Kalam', cursive;
}

.profile-pic {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100px;
}

.top-details {
	margin: 0 40px;
	color: var(--dark-font);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.top-details q {
	line-height: 1.3;
	margin: 10px 0;
	max-width: 800px;
	font-size: 16px;
}
.top-follow-details {
	line-height: 1.5;
	margin-top: 10px;
}
.top-follow-details i {
	width: 20px;
	text-align: center;
	height: 20px;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 10px;
}

.edit-profile-btn,
.follow-profile-btn,
.unfollow-profile-btn {
	background-color: #087afd;
	padding: 12px;
	font-size: 20px;
	margin: 20px 10px 0px 0;
	color: var(--dark-font);
}
.follow-profile-btn {
	background-color: #ff3c3c;
}
.unfollow-profile-btn {
	background-color: #fff;
	color: #ff3c3c;
}
.profile-nav {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--dark-darkest);
	margin: 20px auto;
	border-radius: 10px;
	width: 70%;
}
.profile-nav li {
	cursor: pointer;
	padding: 20px;
	color: var(--dark-font);
	text-align: center;
	width: 100%;
	border-radius: 10px;
	height: 100%;
}
.profile-nav li:hover {
	background-color: rgb(95, 95, 95);
}
.profile-nav .active {
	background-color: var(--dark-light);
	color: #000;
}
.profile-nav .active:hover {
	background-color: var(--dark-light);
}

.navbar-pic {
	object-fit: cover;
	width: 90%;
	border-radius: 5px;
	height: 90%;
}

.top-follow-details span {
	font-size: 17px;
}
.post {
	width: 70%;
	border-radius: 10px;
	padding: 20px;
	margin: 40px auto;
	background-color: #1c1c1c;
	color: #fff;
}

.post-profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin-right: 20px;
}
.post-author-details {
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
}

.post-likes-comments {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.post-likes-comments div {
	width: 100%;
	text-align: center;
	height: 100%;
	padding: 10px;
}

.post-like {
	background-color: #ff3c3c;
	border-radius: 10px 0 0 10px;
}

.post-comments {
	background-color: #087afd;
	border-radius: 0 10px 10px 0;
}

.login,
.signup {
	background-image: url('./img/bg.jpeg');
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #fff;
	height: 100vh;
	display: flex;
}

.login {
	flex-direction: column;
}
.login form,
.signup form {
	margin: 10px auto;
	background-color: #1c1c1c;
	padding: 40px;
	color: #fff;
	border-radius: 10px;
	width: 350px;
}
form div {
	display: flex;
	margin: 12px 0;
	flex-direction: column;
}
input,
textarea {
	border-radius: 10px;
	outline: none;
	font-family: inherit;
	border: none;
	padding: 10px;
	font-size: 18px;
}

form div * {
	margin: 3px 0;
}

form button {
	background-color: #087afd;
	font-size: 20px;
	padding: 10px;
	color: #fff;
}

form .btn-div {
	text-align: center;
	margin: 20px 0;
}

.signup-intro {
	background-color: #1c1c1c;
	padding: 40px;
	color: #fff;
	line-height: 2;
	margin: auto;
	border-radius: 10px;
	font-size: 17px;
	width: 60%;
}

.follower {
	width: 350px;
	height: 100px;
	background-color: var(--dark-darkest);
	color: var(--dark-font);
	display: flex;
	margin: 10px auto;
	border-radius: 10px;
	padding: 10px 15px;
	align-items: center;
}

.follower a {
	align-items: center;
	display: flex;
}

.follower-details {
	font-size: 13px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	margin: 0 20px;
	flex-direction: column;
}

.follower img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 10px;
}

.followers {
	grid-template-columns: 1fr 1fr 1fr;
}
.modal-wrap {
	background-color: rgba(0, 0, 0, 0.794);
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.postform {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.postform textarea {
	background-color: var(--dark-darkest);
	color: #fff;
	margin-bottom: 20px;
	min-height: 200px;
	height: 200px;
	min-width: 100%;
	max-width: 100%;
	overflow: hidden;
}
.liked {
	background-color: var(--dark-light);
	color: #ff2b2b;
}

.unfollow-btn {
	width: 40px;
	background-color: var(--dark-dark);
	height: 40px;
	border-radius: 5px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	color: #fff;
}
.loading-h3 {
	text-align: center;
	color: #fff;
	margin: auto;
	margin-bottom: 20px;
}

.search-results {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.search-result {
	background-color: var(--dark-darkest);
	margin: 20px auto;
	cursor: pointer;
	display: flex;
	min-width: 300px;
	color: #fff;
	border-radius: 10px;
	padding: 20px 10px;
	align-items: center;
}

.search-result img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	object-fit: cover;
}
.search-result .result-details {
	margin: 0 20px;
}

.search-result .result-details h1 {
	font-size: 22px;
}

.search-result .result-details h2 {
	font-size: 16px;
}
.loading-profile {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50px, 0);
}
